<section class="container contenedor sobre-nosotros my-5 py-5">
            

            <h2 class="titulo-n"><span>1.-</span>DOCENTES INVESTIGADORES RECIBEN RECONOCIMIENTO “INVESTIGA-2021”</h2>
            <div class="contenedor-sobre-nosotros">
                <img src="img/noticias1.jpg" alt="" class="imagen-about-us">
                <div class="contenido-textos">
                    
                    <p>La dedicación y el arduo trabajo rinde sus frutos para los maestros investigadores de la Universidad Laica 
                        Eloy Alfaro de Manabí (Uleam). Cobijados bajo el manto del programa “Investiga” 2021, el trabajo  de aproximadamente 700 docentes 
                        investigadores (hombres y mujeres) fue reconocido en una sesión.</p>
                    
                    <p>Se trató de los  proyectos de investigación de la producción de alto impacto correspondientes al período trienal 2017-2020. 
                        La cita  fue  en el auditorio del Órgano Colegiado Superior (OCS),  este 10 de noviembre y forma parte de la agenda de eventos 
                        por el 36 aniversario de la Uleam y contó con la presencia del rector Doctor Marcos Zambrano Zambrano.</p>
                </div>
            </div>

            <h2 class="titulo-n"><span>2.-</span>ELECCIÓN REINA DE LA ULEAM 2021</h2>
            <div class="contenedor-sobre-nosotros">
                <img src="img/noticia2.jpg" alt="" class="imagen-about-us">
                <div class="contenido-textos">
                    
                    <p>El jueves 11 de noviembre del presente año, mediante una noche llena de glamour, luces y emociones, 
                        la Universidad Laica Eloy Alfaro de Manabí eligió su nueva soberana 2021-2022, de entre 17 hermosas candidatas 
                        que aspiraban obtener la corona, representantes 
                        de cada una de las facultades y extensiones de la Uleam, evento realizado en las canchas de uso múltiples 
                        con el aforo controlado y medidas de bioseguridad.</p>
                    
                    <p>Y formó parte de las actividades por el Aniversario 36 de la Uleam, el mismo que fue organizado 
                        por la AFU-Uleam y las dirigencias estudiantiles con el respaldo y acompañamiento de las autoridades de la Uleam,</p>
                </div>
            </div>

        </section>