<section class="container my-5 py-5">
    <div class="card mx-auto" style="width: 18rem;">
        <img class="card-img-top estudiante" src="img/Estudiante.png" alt="Estudiante">
        <div class="card-body">
            <h3 class="card-title text-center">Bienvenido!</h3>
            <h5 class="card-title text-center"><strong>Usuario</strong></h5>
            <p class="card-text text-center">{{user.username}}</p>
            <h5 class="card-title text-center"><strong>Rol</strong></h5>
            <p class="card-text text-center">{{user.rol}}</p>
            {{#ife user.rol 'Estudiante'}}
            <div class="text-center">
                <a href="/links/justificacion" class="btn btn-primary">Realizar justificación</a>
            </div>
                {{else}}
                <div class="text-center">
                    <a href="/report/reporte" class="btn btn-primary">Realizar reporte</a>
                </div>
            {{/ife}}
        </div>
    </div>
</section>