<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
      <h2>Registro de Clientes</h2>
      <form action="/" method="post" id="form" onsubmit= "return validar()">
          <div id="grupo_cedula">
              <label>Cedula</label>
              <input type="text" id="Cedula_Cliente" name="Cedula_Cliente" class="form-control input" onblur="revisar(this); revisarCedula(this)" onkeyup="revisar(this); revisarCedula(this)" autocomplete="off">
          </div>
          <div id="grupo_nombre">
              <label for="nombre">Nombres Completos</label>
              <input type="text" id="Nombres_Cliente" name="Nombres_Cliente" class="form-control input" onblur="revisar(this); revisarNombre(this)" onkeyup="revisar(this); revisarNombre(this)" autocomplete="off">
          </div>
          <div id="grupo_direccion">
              <label for="nombre">Dirección</label>
              <input type="text"  id="Direccion_Cliente" name="Direccion_Cliente" class="form-control input" onblur="revisar(this); revisarDireccion(this)" onkeyup="revisar(this); revisarDireccion(this)" autocomplete="off" >
          </div>
          <div id="grupo_paralelo">
              <label for="nombre">Telefono</label>
              <input type="text" id="Telefono_Cliente" name="Telefono_Cliente" class="form-control input" onblur="revisar(this); revisarTelefono(this)" onkeyup="revisar(this); revisarTelefono(this)" autocomplete="off" >
          </div>
          <div id="grupo_correo">
              <label for="nombre">Correo</label>
              <input type="text" id="Correo_Cliente" name="Correo_Cliente" class="form-control input" onblur="revisar(this); revisarCorreo(this)" onkeyup="revisar(this); revisarCorreo(this)" autocomplete="off" >
          </div>
          <div class="form-group enviar">
              <input type="submit" class="btn btn-success btn-block boton_rl" value="enviar" id="enviar">
          </div>
        </form>
        <script>
          if({{valor}}){
            alert("Registro guardado correctamente");
          }
        </script>
  <script>
    const expresiones = {
        cedula: /^\d{10}$/,
        nombre: /^[a-zA-ZÀ-ÿ\s]{1,50}$/, 
        direccion: /^[a-zA-Z0-9À-ÿ\s]{1,60}$/, 
        telefono: /^\d{10}$/, 
        correo: /\S+@\S+.\S+/,
    }
    function validar() {
        var datosCorrectos = true;
        var error1 = "";
        var error2 = "";
        var error3 = "";
        var error4 = "";
        var error5 = "";
        if (document.getElementById("Cedula_Cliente").value == "" || !expresiones.cedula.test(document.getElementById("Cedula_Cliente").value)) {
            datosCorrectos = false;
            error1 = "\nLa cedula tiene que tener solo 10 digitos numericos"
        }
    
        if (document.getElementById("Nombres_Cliente").value == "" || !expresiones.nombre.test(document.getElementById("Nombres_Cliente").value)) {
            datosCorrectos = false;
            error2 = "\nLos nombres solo puede llevar letras y hasta 50 digitos"
        }
        if (document.getElementById("Direccion_Cliente").value == "" || !expresiones.direccion.test(document.getElementById("Direccion_Cliente").value)) {
            datosCorrectos = false;
            error3 = "\nLa direccion debe ser de 1 a 60 carácteres"
        }
        if (document.getElementById("Telefono_Cliente").value == "" || !expresiones.telefono.test(document.getElementById("Telefono_Cliente").value)) {
            datosCorrectos = false;
            error4 = "\nEl telefono tiene que tener solo 10 digitos numericos"
        }
        if (document.getElementById("Correo_Cliente").value == "" || !expresiones.correo.test(document.getElementById("Correo_Cliente").value)) {
            datosCorrectos = false;
            error5 = "\nEl correo no es valido"
        }
        if (!datosCorrectos) {
            alert('Hay errores en el formulario' + error1 + error2 + error3 + error4 + error5);
        }
        return datosCorrectos;
    }
  </script>
  </body>
</html>