<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header text-uppercase">
                    <h5><strong>Inicio de sesión</strong></h5>
                </div>
                <div class="card-body">
                    <img src="img/login.png" class="login" alt="">
                    <form action="/login" method="post">
                        <div class="form-group text-left">
                            <label for="nombre">Nombre de usuario</label>
                            <input type="text" name="username" class="form-control" autofocus>
                        </div>
                        <div class="form-group text-left">
                            <label for="nombre">Contraseña</label>
                            <input type="password" name="password" class="form-control" autofocus>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success">
                                Ingresar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>