<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header text-uppercase">
                    <h5><strong>Registro</strong></h5>
                </div>
                <div class="card-body">
                    <img src="img/registro.png" class="registro" alt="">
                    <form action="/registro" method="post">
                        <div class="form-group text-left text-left">
                            <label for="nombre">Nombre Completo</label>
                            <input type="text" name="fullname" class="form-control" autofocus>
                        </div>
                        <div class="form-group text-left">
                            <label for="nombre">Nombre de usuario</label>
                            <input type="text" name="username" class="form-control" autofocus>
                        </div>
                        <div class="form-group text-left">
                            <label for="nombre">Contraseña</label>
                            <input type="password" name="password" class="form-control" autofocus>
                        </div>
                        <div class="form-group text-left">
                            <label for="nombre">Dirección</label>
                            <input type="text" name="direccion" class="form-control" autofocus>
                        </div>
                        <div class="form-group text-left">
                            <label for="nombre">Teléfono</label>
                            <input type="tel" name="telefono" class="form-control" autofocus>
                        </div>
                        <div class="form-group text-left">
                            <label for="exampleFormControlSelect1">Rol</label>
                            <select class="form-control" name="rol" id="exampleFormControlSelect1">
                            <option>Seleccione su rol</option>
                            <option>Estudiante</option>
                            <option>Docente</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success">
                                Registrarse
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>