<div class="container p-4">
    <div class="row">

        {{#each justificaciones}}

            <div class="col-md-3 text-center">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top estudiante justificacion" src="/img/justificacion.png" alt="justifiacion img">
                    <div class="card-body">
                        <h5 class="card-title text-uppercase titulo_justificacion">{{materia}}</h5>
                        <h4 class="card-text text-uppercase subtitulo_justificacion">{{docente}}</h4>
                        <p class="card-text text-uppercase descrip_justificacion">{{descripcion}}</p>
                        <p class="card-text text-uppercase fecha_justificacion">{{timeago created_at}}</p>
                        <div class="text-center">
                            <a href="/links/eliminar/{{id}}" class="btn btn-danger">Borrar</a>
                            <a href="/links/editar_justi/{{id}}" class="btn btn-warning">Editar</a>
                        </div>
                    </div>
                    </div>
            </div>
        
        {{else}}

            <div class="col-md-3 text-center">
                <div class="card card-body text-center" style="width: 18rem;">
                    <p>No hay justificaciones creadas</p>
                    <a href="/links/justificacion">Crear nueva justificación</a>
                </div>
            </div>

        {{/each}}

    </div>
</div>