<body>
    
    <div class="container p-4">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <div class="card text-center">
                    <div class="card-header text-uppercase">
                        <h5><strong>Inicio de sesión</strong></h5>
                    </div>
                    <div class="card-body">
                        <img src="img/login.png" class="login" alt="">
                        <form action="/login" method="post" id="form" onsubmit="return validar()">
                            <div class="form-group formulariogrupo formgrupo text-left" id="grupo_usuario">
                                <label for="nombre">Nombre de usuario</label>
                                <input type="text" id="username" name="username" class="form-control input" onblur="revisar(this); revisarUsuario(this)" onkeyup="revisar(this); revisarUsuario(this)" autocomplete="off">
                            </div>
                            <div class="form-group text-left formulariogrupo formgrupo" id="grupo_password">
                                <label for="nombre">Contraseña</label>
                                <input type="password" id="password" name="password" class="form-control input" onblur="revisar(this); revisarPassword(this)" onkeyup="revisar(this); revisarPassword(this)" autocomplete="off">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-success">
                                    Ingresar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/validacionLogin.js"></script>

</body>