<body>
    <div class="container p-4">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <div class="card text-center">
                    <div class="card-header text-uppercase">
                        <h5><strong>Registro</strong></h5>
                    </div>
                    <div class="card-body">
                        <img src="img/registro.png" class="registro" alt="">
                        <form action="/registro" method="post" id="form" onsubmit= "return validar()">

                            <div class="form-group formulario__grupo form__grupo  text-left" id="grupo_nombre">
                                <label for="nombre">Nombre Completo</label>
                                <input type="text" id="fullname" name="fullname" class="form-control input" onblur="revisar(this); revisarNombre(this)" onkeyup="revisar(this); revisarNombre(this)" autocomplete="off">
                            </div>

                            <div class="form-group formulario__grupo form__grupo text-left" id="grupo_usuario">
                                <label for="nombre">Nombre de usuario</label>
                                <input type="text" id="username" name="username" class="form-control input" onblur="revisar(this); revisarUsuario(this)" onkeyup="revisar(this); revisarUsuario(this)" autocomplete="off">
                            </div>

                            <div class="form-group text-left formulario__grupo form__grupo" id="grupo_password">
                                <label for="nombre">Contraseña</label>
                                <input type="password" id="password" name="password" class="form-control input" onblur="revisar(this); revisarPassword(this)" onkeyup="revisar(this); revisarPassword(this)" autocomplete="off">
                            </div>

                            <div class="form-group text-left formulario__grupo form__grupo" id="grupo_direccion">
                                <label for="nombre">Dirección</label>
                                <input type="text" id="direccion" name="direccion" class="form-control input" onblur="revisar(this); revisarDireccion(this)" onkeyup="revisar(this); revisarDireccion(this)" autocomplete="off" >
                            </div>

                            <div class="form-group text-left formulario__grupo form__grupo" id="grupo_telefono">
                                <label for="nombre">Teléfono</label>
                                <input type="tel" id="telefono" name="telefono" class="form-control input" onblur="revisar(this); revisarTelefono(this)" onkeyup="revisar(this); revisarTelefono(this)" autocomplete="off" >
                            </div>

                            <div class="form-group text-left">
                                <label for="exampleFormControlSelect1">Rol</label>
                                <select class="form-control" name="rol" id="exampleFormControlSelect1">
                                <option>Seleccione su rol</option>
                                <option>Estudiante</option>
                                <option>Docente</option>
                                </select>
                            </div>
                            <div class="form-group enviar">
                                <input type="submit" class="btn btn-success btn-block boton_rl" value="Registrarse" id="enviar">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/validacionRegistro.js"></script>   
    
</body>