<body>
  
    <section class="my-5 py-5">
        {{!-- GOOGLE MAPS API --}}
            <div class="container mt-4 pb-2" id="map"></div>
        <div class="container mt-4 py-5">
          {{!-- <div class="img-fluid">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31914.080262727628!2d-80.74642028286313!3d-0.9585065552500118!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x902be16a5ec848cd%3A0xa60ef7d90e068e64!2sUniversidad%20Laica%20Eloy%20Alfaro%20De%20Manabi!5e0!3m2!1ses-419!2sec!4v1639506447494!5m2!1ses-419!2sec" 
              width="100%" height="350px" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </div> --}}
            <div>
                <h3 class="text-center text-uppercase py-2">Contacto</h3>
                <form class="row g-3" id="form" onsubmit="return validar()">
                    <!--GRUPO NOMBRE-->
                    <div class="col-md-6 campo_ingeso formulario__grupo form__grupo" id="grupo_nombre">
                        <label for="name" class="form-label">Nombre</label>
                        <input type="text" class="form-control  input" id="fullname" name="fullname" onblur="revisar(this); revisarNombre(this)" onkeyup="revisar(this); revisarNombre(this)" autocomplete="off">
                    </div>
                    <!--GRUPO TELEFONO-->
                    <div class="col-md-6 campo_ingeso formulario__grupo form__grupo" id="grupo_telefono">
                        <label for="telefono" class="form-label">Teléfono</label>
                        <input type="tel" class="form-control   input" id="telefono" name="telefono" onblur="revisar(this); revisarTelefono(this)" onkeyup="revisar(this); revisarTelefono(this)" autocomplete="off">
                    </div>
                    <!--GRUPO DIRECCION-->
                    <div class="col-12 campo_ingeso formulario__grupo form__grupo" id="grupo_direccion">
                        <label for="direccion" class="form-label">Dirección</label>
                        <input type="text" class="form-control  input" id="direccion" name="direccion" placeholder="Av. Circunvalacion, Manta" onblur="revisar(this); revisarDireccion(this)" onkeyup="revisar(this); revisarDireccion(this)" autocomplete="off">
                    </div>
                    <!--GRUPO EMAIL-->
                    <div class="col-12 campo_ingeso formulario__grupo form__grupo" id="grupo_email">
                        <label for="email" class="form-label">Email</label>
                        <input type="text" class="form-control  input" id="email" name="email" placeholder="example@example.com" onblur="revisar(this); revisarEmail(this)" onkeyup="revisar(this); revisarEmail(this)" autocomplete="off">
                    </div>
                    <!--GRUPO MENSAJE-->
                    <div class="col-12">
                        <label for="mensaje" class="form-label">Mensaje</label>
                        <textarea name="mensaje" class="form-control" id="inputAddress2"></textarea>
                    </div>
                    <div class="form-group enviar">
                        <input type="submit" class="btn btn-success btn-block boton_rl mensaje" value="Registrarse" id="enviar">
                    </div>
                </form>
            </div>
            
    </section>
    
<footer>
        <div class="contenedor-footer">
          
            <div class="content-foo">
                <h4>ULEAM © Copyright 2022</h4>
                <p>Todos los derechos reservados - Universidad Laica Eloy Alfaro de Manabí</p>
            </div>
            
        </div>

</footer>

  <script src="/js/validacionContacto.js"></script>
  <script src="/js/map.js"></script>

</body>

