<body>
    <section class="my-4 py-4 ">
        <div class="container mt-4 py-4 ">
            <h1 class="text-center">NOSOTROS</h1>

            <div class="text-center">
                <img src="img/LogoSecretaría-1.png" alt="Logo" class="nosotros_img">
            </div>

            <div class="card card_yt">
            <div class="video" id="player"></div>
            </div>

            <h4 class="py-3">MISIÓN</h4>

            Formar profesionales competentes y emprendedores desde lo académico, 
            la investigación, y la vinculación, que contribuyan a mejorar la calidad de vida de la sociedad.

            <h4 class="py-3">VISIÓN</h4>

            Ser un referente nacional e internacional de Institución de Educación Superior que contribuye al desarrollo social, 
            cultural y productivo con profesionales éticos, creativos, cualificados y con sentido de pertinencia.
        </div>
    </section>

<footer>
        <div class="contenedor-footer">
          
            <div class="content-foo">
                <h4>ULEAM © Copyright 2022</h4>
                <p>Todos los derechos reservados - Universidad Laica Eloy Alfaro de Manabí</p>
            </div>
            
        </div>

</footer>    
    
    <script src="/js/player.js"></script>

</body>