<footer>
        <div class="contenedor-footer">
          
            <div class="content-foo">
                <h4>ULEAM © Copyright 2022</h4>
                <p>Todos los derechos reservados - Universidad Laica Eloy Alfaro de Manabí</p>
            </div>
            
        </div>

</footer>