<div class="container p-4">
    <div class="row">

        {{#each reportes}}

            <div class="col-md-3 text-center">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top estudiante reporte" src="/img/lista_reporte.png" alt="justifiacion img">
                    <div class="card-body">
                        <h5 class="card-title text-uppercase titulo_justificacion">{{estudiante}}</h5>
                        <h4 class="card-text text-uppercase subtitulo_justificacion">{{materia}}</h4>
                        <h4 class="card-text text-uppercase subtitulo_justificacion">{{paralelo}}</h4>
                        <p class="card-text text-uppercase descrip_justificacion">{{motivo}}</p>
                        <p class="card-text text-uppercase fecha_justificacion">{{timeago created_at}}</p>
                        <div class="text-center">
                            <a href="/report/eliminar/{{id}}" class="btn btn-danger">Borrar</a>
                            <a href="/report/editar_reporte/{{id}}" class="btn btn-warning">Editar</a>
                        </div>
                    </div>
                    </div>
            </div>
        
        {{else}}

            <div class="col-md-3 text-center">
                <div class="card card-body text-center" style="width: 18rem;">
                    <p>No hay reportes creados</p>
                    <a href="/report/reporte">Crear nuevo reporte</a>
                </div>
            </div>

        {{/each}}

    </div>
</div>