<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top text-center estudiante" src="/img/Reporte.png" alt="Estudiante">
                <div class="card-body">
                    <h5 class="card-title text-center">Reporte</h5>
                    <form action="/report/reporte" method="POST">
                        <div class="form-group">
                            <label for="estudiante">Estudiante</label>
                            <input type="text" class="form-control" name="estudiante" id="estudiante" placeholder="Ingrese el estudiante" autofocus>
                        </div>
                        <div class="form-group">
                            <label for="materia">Materia</label>
                            <input type="text" class="form-control" name="materia" id="materia" placeholder="Ingrese la materia">
                        </div>
                        <div class="form-group">
                            <label for="paralelo">Paralelo</label>
                            <input type="text" class="form-control" name="paralelo" id="paralelo" placeholder="Ingrese el paralelo">
                        </div>
                        <div class="form-group">
                            <label for="motivo">Ingrese el motivo</label>
                            <textarea class="form-control" name="motivo" id="motivo" rows="3"></textarea>
                        </div>
                        <div class="form-group text-center">
                            <button class="btn btn-danger">Ingresar reporte</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>