.logo {
    width: 150px;
    height: 50px;
}

.estudiante {
    width: 50%;
    height: auto;
    display: flex;
    padding-top: 10px;
    margin-left: 25%;
}
.login {
    width: 25%;
    height: auto;
    display: flex;
    padding-bottom: 5px;
    margin-left: 40%;
}

.registro {
    width: 25%;
    height: auto;
    display: flex;
    padding-bottom: 5px;
    margin-left: 40%;
}

.justificacion {
    margin-left: 30%;
}

.reporte {
    margin-left: 25%;
}

.card {
    transition: all 0.3s ease;
}

.col-md-3 {
    margin-right: 20px !important;
    margin-bottom: 20px !important;
    margin-top: 80px !important;
}

.col-md-4 {
    margin-top: 80px !important;
}

.row {
    display: flex;
    justify-content: center;
}

.card:hover {
    box-shadow: 2px 2px 10px #666;
}

.titulo_justificacion {
    font-size: 18px;
    font-weight: 700;
    color: black;
}

.subtitulo_justificacion {
    font-size: 20px;
    font-weight: 600;
}

.descrip_justificacion {
    font-size: 15px;
}

.fecha_justificacion {
    font-size: 13px;
}

.nosotros_img {
    width: 25%;
    height: auto;
}

footer {
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo {
    text-align: center;
}

.content-foo h4 {
    color: #fff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p {
    color: #ccc;
}

.titulo-final {
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}


/* Footer */

.contenedor-footer {
    flex-direction: column;
    border: none;
}

.content-foo {
    margin-bottom: 20px;
    text-align: center;
}

.content-foo h4 {
    border: none;
}

.content-foo p {
    color: #ccc;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 20px;
}

.contenedor-sobre-nosotros {
    display: flex;
    justify-content: space-evenly;
}

.titulo-n {
    color: #000000;
    font-size: 30px;
    text-align: left;
    margin-bottom: 60px;
    font-weight: 300;
}

.imagen-about-us {
    width: 48%;
}

.sobre-nosotros .contenido-textos {
    width: 48%;
}

.contenido-textos h3 {
    margin-bottom: 15px;
}

.contenido-textos h3 span {
    background: #860606;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p {
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

.formulario__input-error {
    font-size: 12px;
    margin-bottom: 0;
    margin-top: 5px;
    text-align: left;
    width: 400px;
    display: none;
}

.formulario__input-error-activo {
    display: block;
}

.formulario__grupo-correcto .formulario__validacion-estado {
    color: #1ed12d;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
    color: #bb2929;
    opacity: 1;
}


/* API MAP */

#map {
    height: 500px;
    width: 100%;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}


/* PLAYER YT API */

.card_yt {
    transition: all 0.2s ease-in-out;
    border: none !important;
    width: 850px !important;
    height: 380px;
    margin-left: 12%;
}

.card_yt:hover {
    box-shadow: 2px 2px 10px #acacacb6;
}

.titulo_yt {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}

.video {
    margin-top: 10px;
    margin-left: 12%;
}
.input {
    color: #3c3c3c;
    font-size: 15px;
    line-height: 22px;
    background-color: #fbfbfb;
    margin-bottom: 10px;
    padding-left: 12px;
    width: 100%;
    height: 42px;
    border-radius: 3px;
    box-sizing: border-box;
}

.input:focus {
    background-color: #fff;
    border: 3px solid #3498db;
    color: #1b8f31;
}

input.error {
    font-size: 15px;
    line-height: 22px;
    color: #fff;
    background-color: #ff6a6a;
    margin-bottom: 10px;
    padding-left: 12px;
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 3px;
    text-align: left;
    border: 0px;
}