<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top text-center estudiante" src="/img/Estudiante.png" alt="Estudiante">
                <div class="card-body">
                    <h5 class="card-title text-center">Justificacion</h5>
                    <form action="/links/justificacion" method="POST">
                        <div class="form-group">
                            <label for="materia">Materia</label>
                            <input type="text" class="form-control" name="materia" id="materia" placeholder="Ingrese la materia" autofocus>
                        </div>
                        <div class="form-group">
                            <label for="docente">Docente</label>
                            <input type="text" class="form-control" name="docente" id="docente" placeholder="Ingrese el docente">
                        </div>
                        <div class="form-group">
                            <label for="motivo">Ingrese el motivo</label>
                            <textarea class="form-control" name="descripcion" id="motivo" rows="3"></textarea>
                        </div>
                        <div class="form-group text-center">
                            <button class="btn btn-success">Terminar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>